@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*root*/
:root {
    --shadow-elevation-low:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.15),
        0.8px 1px 1.3px -1.6px hsl(var(--shadow-color) / 0.13),
        2px 2.5px 3.2px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.16),
        1.4px 1.8px 2.3px -1.1px hsl(var(--shadow-color) / 0.14),
        3.8px 4.9px 6.3px -2.2px hsl(var(--shadow-color) / 0.12),
        10px 12.7px 16.4px -3.2px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-high:
        0.5px 0.6px 0.8px hsl(var(--shadow-color) / 0.14),
        2.3px 2.9px 3.7px -0.5px hsl(var(--shadow-color) / 0.14),
        4.5px 5.7px 7.4px -0.9px hsl(var(--shadow-color) / 0.13),
        7.9px 10px 12.9px -1.4px hsl(var(--shadow-color) / 0.12),
        13.5px 17.1px 22.1px -1.9px hsl(var(--shadow-color) / 0.11),
        22.1px 28.1px 36.2px -2.3px hsl(var(--shadow-color) / 0.1),
        34.8px 44.1px 56.9px -2.8px hsl(var(--shadow-color) / 0.09),
        52.3px 66.3px 85.5px -3.2px hsl(var(--shadow-color) / 0.09);
    --font: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    --shadow-color: 0deg 0% 0%;
}

:root[data-theme="light"] {
    --border-highlight: rgba(0, 0, 0, 0.2);
    --background: #f2f8fd;
    --text: #09121b;
    --text2: #2eb85a;
    --modal-bgr: #454d544d;
    --modal-border: #09121bb3;
}

:root[data-theme="dark"] {
    --border-highlight: rgba(255, 255, 255, 0.2);
    --background: #09121b;
    --text: #f2f8fd;
    --text2: #3cc367;
    --modal-bgr: #f2f8fd33;
    --modal-border: #f2f8fd80;
}

/*root/*/

/*setup*/
body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body,
body * {
    transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
pre {
    margin: 0;
}

.hide {
    display: none !important;
}

/*setup/*/

/*scroll*/
.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 3pt;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--border-highlight);
    border-radius: 50px;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.scroll-moz {
    scrollbar-color: var(--border-highlight) transparent;
}

/*scroll/*/

/*clock digits*/
.clock-digit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.digit {
    position: relative;
    width: 7px;
    height: 1.2rem;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.clock-digit-container>p.spaced,
.digit.spaced {
    padding-left: 0.2rem;
}

.clock-digit-container>p.gap,
.digit.gap {
    margin-left: 0.5rem;
}

.clock-digit-container p {
    background-color: inherit;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.digit p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    transition: transform 0.6s cubic-bezier(.28, -0.05, .57, 1.5), opacity 0.6s cubic-bezier(.28, -0.05, .57, 1.5);
    opacity: 0.7;
}

.digit p.current {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.digit p.out {
    transform: translate(-50%, -150%);
    opacity: 0.5;
}

/*clock digits/*/

/*svg-btn*/
button.svg-btn {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    color: inherit;
    cursor: pointer;
}

button.svg-btn svg {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

button.svg-btn:active svg {
    transform: scale(1.2);
    color: var(--text2);
}

/*svg-btn/*/

/*link*/
.link {
    position: relative;
    text-decoration: none;
    color: var(--text1);
}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3pt;
    width: 100%;
    opacity: 0.5;
    background-color: var(--text2);
    transition: all ease-in-out 0.2s;
}

.link:active::after {
    height: 90%;
}

/*link/*/

/*section break*/
.section-break {
    position: relative;
    height: 2pt;
    width: 100%;
}

.section-break::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2pt;
    width: clamp(9rem, 20%, 20rem);
    background-color: var(--border-highlight);
    border-radius: 1rem;
}

/*section break/*/

header,
main,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
}

/*header*/
header {
    justify-content: space-between;
    padding: 0.2rem 0.7rem;
    border-bottom: solid 2pt var(--border-highlight);
    height: 41.6px;
}

#header-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-controls>button:first-child {
    margin-right: 0.5rem;
}

#theme-toggle {
    transition: none;
}

/*header/*/

/*main*/
main {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    max-height: calc(100vh - 34.4px - 41.6px);
}

main>section {
    margin: 0.3rem 0.7rem;
}

.time-panel {
    background-color: var(--modal-bgr);
    color: var(--text);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 1rem;
    padding: 0.7rem;
}

/*main/*/

/*footer*/
footer {
    position: relative;
    padding: 0.5rem 0;
    height: 34.4px;
}

/*footer/*/

@media (pointer: fine) {
    button.svg-btn:hover svg {
        transform: scale(1.2);
        color: var(--text2);
    }

    button.svg-btn.invalid svg,
    button.svg-btn.invalid:hover svg {
        color: #c33c3c;
    }

    .link:hover::after {
        height: 90%;
    }
}